body{
    background: url("../images/mian-bg2.gif");
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
h3{
    font-weight: 300;
}
#main{
    padding-top: 60px;
    padding-bottom: 60px;
    transition: 0.5s;
}



/*Form-login*/
.login{
    color: #ffffff;
    font-weight: normal;
    margin: 20% auto;
    max-width: 500px;
    background: #2A2A2A;
    border-radius: 5px;
}

.login-header{
    background: #3C3C3C;
    height: 40px;
    border-radius: 5px 5px 0 0 ;
    padding-left: 5%;
}
.login-header h3,
.login-form h3 {
    line-height: 40px;
}

.login-form{
    margin-left: 5%;
}

.login-form button{
    margin: 20px 0 30px 0;
}

.login-input{
    max-width:450px;
    width: 95%;
    border-radius:4px;
    line-height: 30px;
    border:1px solid #f2f2f2;
    outline:none;
    padding-left:10px;
}

.login-btn{
    color: #ffffff;
    height:40px;
    width:100px;
    border-radius:4px;
    border:1px solid #305074;
    background: #305074;
}
/*End-form-login*/

/*Page-404*/
.error h1 {
    color: #ffffff;
    padding: 200px 0 50px 0;
    font-size: 40px;
}
.error a {
    color: #00A274;
}
.error a:hover{
    text-decoration: none;
}
/*End-page-404*/





/*Welcome*/
.welcome{
    color: #ffffff;
    padding-top: 50px;
}
.welcome h1{
    font-size: 60px;
    font-weight: 400;
}
/*End-welcome*/


/*List-menu*/

.list-menu a{
    color: #ffffff;
}
.card-style{
    background: #2A2A2A;
}
.card-row-one{
    margin-top: 50px;
}
.card-row-two{
    margin-top: 30px;
}
.card-body-custom{
    padding: 50px 0;
}
.list-menu i{
    font-size: 7rem;
}
/*End-list-menu*/


/*Appointment*/
.calendar{
    background: #1F1F1F;
    color: #ffffff;
}
.room{
    background: #1F1F1F;
    color: #ffffff;
    margin-top: 20px;
}
.room-card{
    border:none;
}
.room-card-header{
    background: #3B3B3B;
}
.room-card-body{
    background: #1F1F1F;
}
.calendar-detail{
    background: #1F1F1F;
    padding: 10px;
}
.calendar-detail h2{
    font-size: 30px;
    color: #ffffff;
}
.calendar-detail-head{
    margin-bottom: 20px;
}
.calendar-detail-content{
    border: 2px solid #ffffff;
}

.table-calendar{
    color: #ffffff;
}
.table-calendar thead th{
    border-bottom: none!important;
}
.table-calendar td, .table-calendar th{
    border-top: 1px solid #959a9e;
}
.w-15{
    width: 15%;
}
.w-70{
    width: 70%;
}
.calendar-icon{
    font-size: 10px;
}


.card-appointment{
    background: #1F1F1F;
    color: #ffffff;
    width: 70%;
}

.mode-btn{
    background: #2A2A2A;
    border-color: #2A2A2A;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
}
.style-div-icon{
    background: #3C3C3C;
    border-color: #3C3C3C;
    color: #ffffff;
}
.form-btn{
    float: right;
}
.btn-save{
    background: #00B481;
    color: #ffffff;
}

/*End-appointment*/


/*Page-user*/
.list-main{
    margin: 0 auto;
    line-height: 4;
}
.list-main-edit-user{
    margin-right: 30%;
    line-height: 4;
}
.list-main a,
.list-main-edit-user a{
     color: #ffffff;
 }
.list-main a:hover,
.list-main-edit-user a:hover{
    text-decoration: none;
}


.btn-active{
    background: #305074;
    color: #ffffff;
    /*padding: 10px 40px;*/
}
.input-set-order{
    width: 70px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #ffffff;
}
.box-action-edit{
    width: 25px;
    height: 25px;
    background: #3C3C3C;
    float: left;
    margin: auto;
}
.box-action-del{
    width: 25px;
    height: 25px;
    background: #3C3C3C;
    float: right;
}
.no-margin{
    margin-bottom: 0.1rem;
}
/*End-page-user*/


/*Set-up*/
.set-up{
    background: url("../images/login-bg.gif") no-repeat;
    width: 100%;
    background-size: contain;
    margin: 50px;
}
.set-up img{
    margin-bottom: 10px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}


/*End-set-up*/


@media screen and (max-width: 1200px){
    .calendar-detail{
        margin: 20px;
    }
    .card-appointment{
        width: 90%;
    }
}



@media only screen and (max-width: 992px) {
    /*List-menu*/
    .list-menu i{
        font-size: 5rem;
    }
    /*End-list-menu*/
    .card-appointment{
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    /*List-menu*/
    .list-menu i{
       font-size: 4rem;
    }
    .card-row-two{
        margin-top: 20px;

    }
    /*End-list-menu*/

    /*Appointment*/
    .mode-btn,
    .mode-radio{
        margin-top: 5px;
    }
    /*End-appointment*/
    .card-appointment{
        width: 100%;
    }

}
@media only screen and (max-width: 576px) {
    /*List-menu*/
    .welcome h1{
        font-size: 30px;
    }
    .list-menu i{
        font-size: 3rem;
    }
    .card-row-two{
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .card-body-custom{
        padding: 20px 0;
    }
    /*End-list-menu*/

    .mode-btn,
    .mode-radio{
        margin-top: 5px;
    }
    /*End-create-appointment*/

    .card-appointment{
        width: 100%;
    }
}


